.table {
  width: 98%;
  max-width: 1120px;
  border-radius: .3rem;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  margin: 1.2rem auto;
  padding: 1.2rem;
}

.th {
  border-bottom: inset;
  padding-bottom: .3rem;
}

@media ( max-width: 40rem ) {
  .th {
    text-align: start;
  }
}