.form {
  display: flex;
  justify-content: space-around;
  max-width: 1120px;
  width: 98%;
  border-radius: .2rem;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  padding: 1rem 0;
  margin: 2rem auto;
}

.form label {
  display: flex;
  flex-direction: column;
}

.form input[type="text"], input[type="number"] {
  border-radius: .2rem;
  border: solid 1px #ccc;
  font-size: 1rem;
  margin-top: .5rem;
  padding: .5rem 1rem;
  outline: none;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.fomr input[type="text"]:hover,
.fomr input[type="number"]:hover {
  box-shadow:
    0 0 0 3px rgb(194, 255, 170),
    0 0 0 4px #008080
  ;
}

.radio {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.radio label {
  flex-direction: row;
  column-gap: .5rem;
}

.radio label input {
  margin-top: .20rem;
  accent-color: #000;
}

.adicionar {
  border-radius: .2rem;
  border: none;
  background: #008080;
  font-size: 1.2rem;
  color: #fff;
  padding: .5rem 1rem;
  cursor: pointer;
}

.adicionar:focus,
.adicionar:hover {
  box-shadow:
    0 0 0 3px rgb(194, 255, 170),
    0 0 0 4px #008080
  ;
  outline: none;
}

@media ( max-width: 40rem ) {
  .form {
    display: grid;
  }

  .radio {
    margin: .5rem 0;
  }

  .form input[type="text"], input[type="number"] {
    margin-bottom: .5rem;
  }
}